@model IEnumerable<CompetitionManagment.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">
    <label for="teamId">Team:</label>
    <select id="teamId" name="id" onchange="location.href = this.value ? '/Players/Index/' + this.value : '/Players/Index'">
        <option value="">All</option>
        @foreach (var item in ViewBag.Teams)
        {
            var selected = item.Value == ViewContext.RouteData.Values["id"]?.ToString();
            <option value="@item.Value" selected="@selected">@item.Text</option>
        }
    </select>
</form>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    <tr>
        <td>
            <a asp-controller="Team" asp-action="Index">Back to Teams</a>
        </td>
    </tr>
</table>
