@model IEnumerable<CompetitionManagment.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Teams</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-xs">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Number of Awards
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motto)
            </th>
            <th>
                Created On
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardsNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-xs" >Edit</a>
                <a asp-controller="Players" asp-action="Index" asp-route-teamId="@item.Id" class="btn btn-info btn-xs">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
