@model List<CompetitionManagment.Models.Competition>

@{
    ViewData["Title"] = "Home";
}


<h1>Welcume to the Competition Management System!</h1>
<div>
    <a href="@Url.Action("Create", "Competitions")" class="btn btn-primary">Add Competition</a
</div>

<div class="card-deck">
    @foreach (var competition in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@competition.Name</h5>
                <p class="card-text">Start Date: @competition.StartDate?.ToString("dd/MM/yyyy")</p>
                <p class="card-text">End Date: @competition.EndDate?.ToString("dd/MM/yyyy")</p>
                <p class="card-text">Competition Type: @competition.CompetitionTypeNavigation.Name</p>
                <div class="card-location">Location: @competition.Location</div> <!-- Wrap the location text in a separate div -->
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <a href="@Url.Action("Teams", "Home", new { competitionId = competition.Id })" class="btn btn-primary" style="color:lawngreen">View Teams</a>
                    <a href="@Url.Action("Delete", "Competitions", new { competitionId = competition.Id })" class="btn btn-primary" style="color:orangered">Delete Competition</a>
                    <a href="@Url.Action("Edit", "Competitions", new { competitionId = competition.Id })" class="btn btn-primary" color="yellow" style="color:yellow">Edit Competition</a>
                </div>
            </div>
        </div>
    }
</div>

