@model IEnumerable<CompetitionManagment.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Games</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Team 1 Score
            </th>
            <th>
                Team 2 Score
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadium)
            </th>
            <th>
                Team 1 Name
            </th>
            <th>
                Team 2 Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team1Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team2Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stadium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.Name)
            </td>
        </tr>
}
    </tbody>
</table>
